body{ 
    margin: 0px;
    padding: 0px;   
    border: 20px; 
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }
    
    #navbar{ 
        margin: 0px;
        padding: 1px;
        background-color: rgb(209, 199, 199);
        color:rgb(0, 0, 0);
    }

    .amarela{
        background-color: rgb(255, 196, 0);
        margin: 0px;
        padding: 10px;
        padding-bottom: 10px;
    }

    .cinza{
        background-color: rgb(209, 199, 199);
        margin: 0px;
        padding: 30px;
        padding-bottom: 10px;
    }