body{ 
    margin: 0px;
    padding: 0px;   
    border: 20px; 
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }
    
    #navbar{ 
        margin: 0px;
        padding: 1px;
        background-color: rgb(209, 199, 199);
        color:rgb(0, 0, 0);
    }

    .amarela{
        background-color: rgb(255, 196, 0);
        margin: 0px;
        padding: 10px;
        padding-bottom: 10px;
    }

    #cinzacima{
        background-color: rgb(209, 199, 199);
        margin: 0px;
        padding: 10px;
        padding-bottom: 10px;
    }

    .flex{
        display: flex;
    }

    .cinzinhas{
        background-color: rgb(209, 199, 199);
        margin: 5px;
        padding: 5px;
        padding-bottom: 5px;
        border-color: gray;
        border-style: solid;
    }

    .um{
        background-color: rgb(201, 53, 53);
        margin: 5px;
        padding: 190px;
        padding-right: 250px;
    }

    .dois{
        background-color: rgb(78, 12, 12);
        margin: 5px;
        padding: 190px;
        padding-right: 1250px;
    }

    .tres{
        background-color: rgb(156, 120, 120);
        margin: 5px;
        padding: 190px;
        padding-right: 1250px;
    }